.Layout-container{
width: 100vw;
height: 100vh;
/* border: 1px solid rgb(255, 0, 0); */
display: flex;
flex-direction: column;
}

.Content-container{
    /* border: 1px solid rgb(255, 0, 157); */
    flex: 9;
}

.Header-container{
    /* border: 1px solid rgb(30, 255, 0); */
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}



.Nav-container{
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid black; */
    width: 25%;
    height: 80%;
    font-size: clamp(1rem, 5vw, 3rem);
    gap: 20px;
}

.Logo-container{
    width: clamp(1.5rem, 10vw, 7rem);
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    margin-right: 20px;
    
}

.Logo-container img {
    width: 100%;
}


.Footer-container{
    /* border: 1px solid rgb(156, 28, 28); */
    background-color: #370000;
    color: #C3B3B3;
    display: flex;
    justify-content: space-between;
}

.copyright-container{
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
}