.Layout-container{
width: 100vw;
height: 100vh;
border: 1px solid rgb(255, 0, 0);
display: flex;
flex-direction: column;
}


.Content-container{
    border: 1px solid rgb(255, 0, 157);
    flex: 8;
}

.Footer-container{
    border: 1px solid rgb(156, 28, 28);
    flex: 1;
}
.Header-container{
    border: 1px solid rgb(30, 255, 0);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Nav-container{
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
    width: 20%;
}

.Logo-container{
    width: 5%;
    display: flex;
    align-items: center;
}

.Logo-container img {
  width: 100%;
}

