.Home-container{
    display: flex;
    flex-direction: column;
    /* border: 1px solid rgb(255, 0, 157); */
    height: 100%;
    align-items: center;
    margin: 10px;
}

.intro-container{
    /* border: 1px solid rgb(255, 0, 157); */
    width: 80%;
    min-height: 15%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.name-tag{
    font-size: clamp(1.6rem, 3vw, 2.8rem);
}

.nameV2-tag{
    font-size: clamp(1rem, 1.2vw, 1.25rem);
}

.border{
    /* border: 1px solid rgb(255, 0, 157); */
    margin: 15px;
    padding: 10px;
    width: 80%;
    height: 80%;
    border-radius: 15px;
    background-color: #EBE5E5;
    display: flex;
    align-items: center;
    flex-direction: column; 
}

.text-container{
    margin-top: 10px;
    width: 90%;
    height: 15%;
    /* border: 1px solid rgb(255, 0, 157); */
    font-size: clamp(1.5rem, 5vw, 4rem);
    display: flex;
    align-items: center;
    justify-content: center;
}


.card-container{
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: row;
    /* border: 1px solid rgb(255, 0, 157); */
    align-items: center;
    justify-content: space-evenly;
}


.card{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 15px;
    width: clamp(60%, 35%,40%);
    height: 80%;
    margin: 10px;
    padding: 10px;
    align-items: center;  
    justify-content: start; 
    text-align: center; 
    font-size: clamp(1rem, 2vw, 1.5rem);
}

.card svg {
  font-size: 10rem;
}

@media (max-width: 768px) {
    .card-container {
        /* border: 1px solid rgb(255, 0, 157); */
        margin-top: -20px;
        flex-direction: column;
    }
    .card svg {
        font-size: 3rem;
        }
 
}