.Home-container{
    display: flex;
    flex-direction: column;
    /* border: 1px solid rgb(255, 0, 157); */
    height: 100%;
    align-items: center;
    margin: 10px;
}

.intro-container p {
  margin: 0.25em 0; 
}

.intro-container{
    /* border: 1px solid rgb(255, 0, 157); */
    width: 80%;
    min-height: 15%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: clamp(1rem, 1,.2vw, 1.25rem);
}

.name-tag{
    font-size: clamp(1.6rem, 3vw, 2.8rem);
}

.border{
    /* border: 1px solid rgb(255, 0, 157); */
    margin: 15px;
    padding: 10px;
    width: 80%;
    height: 80%;
    border-radius: 15px;
    background-color: #EBE5E5;
    display: flex;
    align-items: center;
    flex-direction: column; 
}

.text-container{
    margin-top: 10px;
    width: 90%;
    height: 15%;
    /* border: 1px solid rgb(255, 0, 157); */
    font-size: clamp(1rem, 5vw, 4rem);
    display: flex;
    align-items: center;
}

.card-container{
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: row;
    /* border: 1px solid rgb(255, 0, 157); */
    align-items: center;
    justify-content: space-evenly;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 15px;
    width: 35%;
    height: 80%;
    margin: 10px;

}